<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Fake News Detector</h1>
        <div id="form">
            <label for="news_article">Enter news article text:</label><br>
            <textarea id="news_article" name="news_article" rows="6" cols="50"></textarea><br>
            <input type="submit" value="Check for Fake News" onclick="detectFakeNews()">
    </div>
   
</body>
</html>